import java.time.*
Date now = new Date()

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
    ncsq_param = 224
    debug = false
    help = false
    months = '3'
    important_trait = 'NULL'
    events = '10'
    out = null
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
}

process {
    cache = "lenient"
    container = "andersenlab/noaa-nf:101424"
}
